[Locations]
# Path to loadout config from runner
looks_config = appearance.cfg

# Path to module from runner
python_file = rustbot.py

# Name that will be displayed in game
name = rust-example

[Bot Parameters]
path = rustbot.bat

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = 

# Short description of the bot
description = 

# Fun fact about the bot
fun_fact = 

# Link to github repository
github =

# Programming language
language = Rust
